
body {

position: relative;
width: 1440px;
height: 1024px;

background: #CDE990;
}

h1{
    /* Wandu Memories */


position: absolute;
width: 895px;
height: 118px;
left: 374px;
top: 230px;

font-family: 'Neucha', cursive;
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 141px;
letter-spacing: 0.05em;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


img:nth-of-type(1){
position: absolute;
width: 144px;
height: 198px;
left: 208px;
top: 270px;
}

img:nth-of-type(2){
position: absolute;
width: 1172px;
height: 111px;
left: 134px;
top: 500px;
}


.search-box {
    position: absolute;
    left: 450px;
    top: 530px;

}

.search-txt {
    float: left;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    font-size: 45px;
    line-height: 30px;
}

.search-btn{
    font-size: 50px;
    position: relative;
    top: -10px;

}

a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;

    position: absolute;

    font-size: 60px;
    left: 650px;
    top: 660px;
}


.upload-btn {
    display: block;
    width: 305px;
    height: 500;
}

.upload-btn img {
    position: absolute;
    left: -80px;
    top: 60px;
}
