<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset "UTF-8">
        <meta name="author" content="pado">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gallery</title>
        <link rel="stylesheet" type="text/css" href="..\static\Gallery.css">
    </head>
    <body> 
        <div class="search-img">
            <img src = "research.png", alt="research button">
        </div>
        <div class="search-box">
            <form action="." method="post">
            <input class="search-txt" type="search" placeholder="검색어를 입력해주세요>
            <button class="search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
            </form>
        </div>
        <div class="gallery">
            <table>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <div id="imagecaptioning"></div>
            </table>
        </div>
        <div class="gallery">
            <table>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <div id="OCR"></div>
            </table>
        </div>
        <div class="gallery">
            <table>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <td><img src="dukong.png"></td>
                <div id="unknown"></div>
            </table>
        </div>
        <br><br>
        </div>
    </body>
</html>