
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="..\static\Mainpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Wandu Memories</h1>
    <img src = "dukong.png", alt="dukong logo">
    <img src = "research.png", alt="research button">

    <a href="text.html" class="upload-btn">
    <img src = "uploadButton.png" style ="width:305px;height:66px;", alt="upload Button">
    </a>

    <div class="search-box">
        <form action="." method="post">
        <input class="search-txt" type="text" placeholder="검색어를 입력해주세요">
        <a class="search-btn" type="submit">
            <i class="fas fa-search"></i>
        </a>
        </form>
    </div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</body>
</html>
